.w3-container {
    padding: 20px;
}
.box_white1 {
  padding: 20px;
  color: Purple;
  background: white;
}
.box_white2 {
  padding: 20px;
  color: Purple;
  background: white;
}
.box_white_big {
  padding: 20px;
  color: Purple;
  background: white;
}


.w3-container2 {
    padding: 20px;
    color: Purple;
    background: white;
}
.body {
  background-color: #808080;
}
.img-fluid {
      width: 90%;
      height: 90%;
    }
.responsive {
  height: auto;
}
.img-responsive {
  display: block;
  max-width: 150%;
  height: auto;
}


.responsive_a {
    width: 47%;
    position:relative;
    left:5%;
}
.responsive_b {
    width: 47%;
    position:relative;
    left:5%;
}
.responsive_c {
    width: 47%;
    position:relative;
    left:5%;
}
.responsive_d {
    width: 47%;
    position:relative;
    left:5%;
}
#border {
  border:  1px solid;
  color: yellow;
}

